<script setup lang="ts">
// interface Props {}
// interface Emits {}

// const props = withDefaults(defineProps<Props>(), {})
// const emit = defineEmits<Emits>()
</script>
<template>
  <div>
    <NuxtWelcome/>
  </div>
</template>